# IDE & Editor folders
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# System files
.DS_Store
Thumbs.db

# Laravel specific
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
